################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Olimpiadas/SistemaSeleccionReina/bin/Debug
/Olimpiadas/SistemaSeleccionReina/obj/Debug
